/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 05.04.2019, 10:47:03
    Author     : marin
*/

#pane{
    -fx-background-image: url("../img/table.png");
    -fx-background-position: left top, center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover, auto;
}

#wood{
    -fx-background-image: url("../img/wood.jpg");
}

.rules:hover{
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
    -fx-cursor: hand;
}

.rules1:hover{
    -fx-scale-x: 1.5;
    -fx-scale-y: 1.5;
    -fx-cursor: hand;
}

#back:hover{
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
}